body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-content {
	margin: 60px;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}
#capture-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
}
#video-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#output-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#use-button {
	/* sise */
	width: 250px;
	height: 100px;
	background-color: #00ff00;
	border: 1px solid #000000;
	border-radius: 15%;
	box-shadow: 0px 0px 10px #000000;
	font-size: 50px;
	font-weight: bold;
}
#remove-button {
	/* sise */
	width: 250px;
	height: 100px;
	background-color: #ff0000;
	border: 1px solid #000000;
	border-radius: 15%;
	box-shadow: 0px 0px 10px #000000;
	font-size: 50px;
	font-weight: bold;
}
#button-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#video {
	width: 600px;
	height: 600px;
	object-fit: cover;
	transform: scaleX(-1);
	/* thick smooth black border */
	border: 20px solid rgba(0,0,0,0.5);
}
#output {
	display: none;
}
#canvas {
	/* display: none; */
	width: 600px;
	height: 600px;
	border: 20px solid rgba(0,0,0,0.5);
}
#capture-button {
	background-color: #fff;
	border-radius: 20%;
	width: 100px;
	height: 100px;
	margin: 10px;
}
#solve-button {
	/* gold color */
	background-color: #ffeb37;
	border-radius: 10%;
	width: 400px;
	height: 100px;
	margin: 10px;
	color: #000000;
	font-size:70px;
	font-weight: bold;
	font-style: italic;
}
