body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-content {
	width: 100%;
	height: 100%;
}
#video {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
/* #video-container {
	width: 100%;
	height: 100%;
} */
/* #canvas {
	width: 500px;
	height: 500px;
} */